<div class="card_especialidade">
    <p style="margin: 0; padding: 0;">{{ exam.exam }}</p>
    <div class="preco_especialidade">
        <section class="caixa_preco_especialidade">
            <span>Preço Particular</span>
            <p style="margin: 0; padding: 0;">{{ exam.priceNormal }}</p>
        </section>
        <section class="caixa_preco_especialidade">
            <span>Preço Cartão</span>
            <p style="margin: 0; padding: 0;">{{ exam.priceCard }}</p>
        </section>
    </div>
    <div class="botao_especialidade"><a href="https://multiclinica.naja.app/portal/shedule" target="_blank">Marcar Exame</a></div>
</div>