{% extends "base/base.html" %}

{% block title %}Multiclnica Fortaleza{% endblock title %}

{% block content %}
    <section class="backgroundImg">
        <div class="fade"></div>
        <h1 class="main_title">MULTICLINICA FORTALEZA</h1>
    </section>
    <section class="schedulingOnline">
        <div>
            <div class="headInfo">
                <img id="logo" src="../../static/img/logo-mcf-2022.png" alt="">
                <img src="../../static/img/whatsapp-link.png" alt="">
                <img src="../../static/img/telefone-1.png" alt="">
            </div>
            <div>
                <div><a href="#">AGENDE AGORA</a></div>
                <div><a href="#">SOLICITE CARTÃO MULTI</a></div>
            </div>
        </div>
    </section>
    <section class="specialties">
        <header class="head_specialties"><h2>Especialidades <span>MULTICLINICA FORTALEZA</span></h2></header>
        {% for specialtie in specialties %}
            {% include "../partials/cardSpecialtie.html" %}
        {% endfor %}
    </section>

{% endblock content %}